body,html{
	font-family: "Poppins";
	margin: 0;
	padding: 0;
}
.colored{
	background-color: #00acc1;
}
.navbar-fixed{
	z-index: 9999;
}
.sidebar-clear{
	margin-top: 64px;
}
.sidebar-clear-parent {
    background-color: rgb(255, 120, 120); /* Background sidebar */
}
.sidebar-item.active {
    background-color: rgb(255, 255, 255); /* Warna seleksi */
    color: #000; /* Warna teks pada seleksi */
}

.sidebar-item {
    padding: 10px;
    border-radius: 5px;
}
.bordered{
	border-top: 1px solid #E0E0E0;
}
.img-thumb{
	height: 150px;
		justify-content: center;
		background-image: url('https://maxcdn.icons8.com/app/uploads/2016/03/material-1-1000x563.jpg');
		background-size: cover;
}
.text-upper{
	text-transform: uppercase;
}
.admin-content{
	margin-top: 20px;
	text-align: justify;
	z-index: -2;
}
.hero-title{
	font-size: 20px;
	margin-bottom: 10px;
}
@media only screen and (min-width: 1100px) {
	.container {
	    width: 90% !important;
	}
}
@media only screen and (max-width: 992px) {
	.sidebar-clear{
		margin-top: 0px !important;
	}
	.sidebar-clear-parent{
		z-index: 99999 !important;
	}
}